/* Global Styling */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .initial-screen {
    text-align: center;
    padding: 20px;
  }
  
  .initial-screen h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2534ff;
  }
  
  .initial-screen button {
    background-color: #2534ff;
    color: #ffffff;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
  }
  
  .initial-screen button:hover {
    background-color: #ffdb58;
  }
  
  .login-container {
    background-color: #ecf0f1;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2534ff;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
  }
  
  input:focus {
    border-color: #2534ff;
    outline: none;
  }
  
  button {
    background-color: #2534ff;
    color: #ffffff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffdb58;
  }
  