.notes-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 1200px; /* Max width to make it responsive */
  margin: 0 auto;
}

h2, h1, h3, p, label, small, input, select, textarea {
  color: #000000;
}

h2 {
  color: #3c8dff;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

input[type="text"], input[type="date"], select {
  color: #000000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #3c8dff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #357ab7;
}

.note-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.note-item h3, .note-item p, .note-item small {
  color: #000000;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder {
  color: #ccc;
}
